* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #f1d2b6, #f1d2b6);
  margin: 0;
  padding: 40px 10px;
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 25px;
  border-radius: 25px;
  border: 4px solid #26a728;
  box-shadow: 0 10px 30px rgba(38,167,40);
}

.pic {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 5px dashed #ffb9b9;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(28px, 4.5vw, 40px);
  background: linear-gradient(90deg, 	#43c4da, 	#43c4da);
  color: white;
  padding: 18px 0;
  text-align: center;
  margin: 0 0 20px 0;
  border-radius: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  box-shadow: 0 6px 14px rgba(241,210,182);
}

h2 {
  text-align: center;
  color: #43c4da;
  margin-bottom: 22px;
  font-weight: 700;
}

input.questionOne,
input.questionTwo {
  width: 100%;
  padding: 14px 16px;
  margin-bottom: 16px;
  border-radius: 18px;
  border: 2px solid #fd7f2a;
  background-color: #fff5f5;
  color: #333;
  font-size: 16px;
  transition: all 0.3s ease;
}

input{
  color: #ff8a8a;
}

input{
  outline: none;
  border-color: #ff3b3b;
  box-shadow: 0 0 12px rgba(255, 59, 59, 0.45);
  background-color: #fff;
}

button {
  width: 100%;
  padding: 16px;
  background: linear-gradient(90deg, #43c4da, #43c4da);
  color: white;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 8px 0 #43c4da, 0 10px 20px rgba(241,210,182);
  transition: transform 0.15s, box-shadow 0.15s;
}
button:hover{
  box-shadow: 0 10px 0 #43c4da, 0 14px 25px rgba(241,210,182);
  box-shadow: 0 4px 0 #43c4da;
}

.cute-note {
  text-align: center;
  color: #ff6b6b;
  font-size: 14px;
  margin-top: 10px;
}